footer {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.contacts {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-contacts {
    margin: 30px 0 20px 0;
    width: 90%;
    height: auto;
    min-height: 400px;
    background: linear-gradient(45deg, #595858, black);
    border-radius: 29px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 30px;
    padding: 25px 18px;
}

.container-contacts p a {
    font-family: Sora;
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.copyRight {
    font-family: 'Instrument Serif';
    word-spacing: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5;
}


/* ========== TABLETTE (768px et +) ========== */
@media screen and (min-width: 768px) {
    .container-contacts {
        margin: 40px 0 20px 0;
        width: 90%;
        min-height: 450px;
        border-radius: 25px;
        gap: 40px;
        padding: 20px;
    }
    
    .container-contacts p a {
        font-size: 18px;
    }
    
    .copyRight {
        font-size: 16px;
        word-spacing: 9px;
    }
}

/* ========== DESKTOP (1024px et +) ========== */
@media screen and (min-width: 1024px) {
    footer {
        padding: 0;
    }
    
    .container-contacts {
        margin: 50px 0 20px 0;
        width: 90%;
        height: 500px;
        border-radius: 30px;
        gap: 50px;
        padding: 18px;
    }
    
    .container-contacts p a {
        font-size: 20px;
    }
    
    .copyRight {
        font-size: 20px;
        word-spacing: 10px;
    }
}